// 
// Utility classes
// --------------------------------------------------


// build margin classes (steps, maximum)
.margins(5, 200);

.margins(@steps, @max, @i: 0) when (@i =< (@max/@steps)) {
  // define margin number to use as classname
  @margin: (@i * @steps);
  // output classes
  .u-mt@{margin} {
    margin-top: ~"@{margin}px" !important;
  }
  .u-mb@{margin} {
    margin-bottom: ~"@{margin}px" !important;
  }
  .u-mr@{margin} {
    margin-right: ~"@{margin}px" !important;
  }
  .u-ml@{margin} {
    margin-left: ~"@{margin}px" !important;
  }
  .u-mv@{margin} {
    margin-top: ~"@{margin}px" !important;
    margin-bottom: ~"@{margin}px" !important;
  }
  .u-mh@{margin} {
    margin-left: ~"@{margin}px" !important;
    margin-right: ~"@{margin}px" !important;
  }
  .u-ma@{margin} {
    margin: ~"@{margin}px" !important;
  }
  // initiate next iteration
  .margins(@steps, @max, (@i + 1));
}


// build padding classes (steps, maximum)
.padding(5, 200);

.padding(@steps, @max, @i: 0) when (@i =< (@max/@steps)) {
  // define padding number to use as classname
  @padding: (@i * @steps);
  // output classes
  .u-pt@{padding} {
    padding-top: ~"@{padding}px" !important;
  }
  .u-pb@{padding} {
    padding-bottom: ~"@{padding}px" !important;
  }
  .u-pr@{padding} {
    padding-right: ~"@{padding}px" !important;
  }
  .u-pl@{padding} {
    padding-left: ~"@{padding}px" !important;
  }
  .u-pv@{padding} {
    padding-top: ~"@{padding}px" !important;
    padding-bottom: ~"@{padding}px" !important;
  }
  .u-ph@{padding} {
    padding-left: ~"@{padding}px" !important;
    padding-right: ~"@{padding}px" !important;
  }
  .u-pa@{padding} {
    padding: ~"@{padding}px" !important;
  }
  // initiate next iteration
  .padding(@steps, @max, (@i + 1));
}

// pixel-based widths
.u-width40 {
  max-width: 40px !important;
  width: 40px !important;
}
.u-width50 {
  max-width: 50px !important;
  width: 50px !important;
}
.u-width100 {
  max-width: 100px !important;
  width: 100px !important;
}
.u-width150 {
  max-width: 150px !important;
  width: 150px !important;
}
.u-width300 {
  max-width: 300px !important;
  width: 300px !important;
}
.u-width600 {
  max-width: 600px !important;
  width: 600px !important;
}
.u-fullWidth {
  width: 100%;
}

// build percentage-based widths (steps, maximum)
.widths(5, 200);

.widths(@steps, @max, @i: 0) when (@i =< (@max/@steps)) {
  // define padding number to use as classname
  @width: (@i * @steps);
  // output classes
  .u-width@{width}p {
    max-width: ~"@{width}%" !important;
    width: ~"@{width}%" !important;
  }
  // initiate next iteration
  .widths(@steps, @max, (@i + 1));
}

.u-relative {
  position: relative;
}
.u-block {
  display: block;
}
.u-inlineblock {
  display: inline-block;
}
.u-floatleft {
  display: inline-block;
  float: left;
}
.u-floatright {
  display: inline-block;
  float: right;
}
.u-aligncenter {
  text-align: center;
}
.u-alignleft {
  text-align: left;
}
.u-alignright {
  text-align: right;
}
.u-valignmiddle {
  position: absolute;
  top: 50%;
  .transform(translateY(-30px));
}
.u-pinned-topleft {
  position: absolute !important;
  top: 0;
  left: 0;
}
.u-pinned-topright {
  position: absolute !important;
  top: 0;
  right: 0;
}
.u-pinned-cover {
  position: absolute !important;
  top: 0; right: 0; bottom: 0; left: 0;
}
.u-pinned-bottom {
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 100%;
}
.u-pinned-bottomfixed {
  position: fixed !important;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
}
.u-nowrap {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.u-noselect {
  pointer-events: none;
}
.u-hidden {
  display: none !important;
}

.u-opacity0 {
  opacity: 0;
}
.u-opacity25 {
  opacity: 0.25;
}
.u-opacity50 {
  opacity: 0.5;
}
.u-opacity75 {
  opacity: 0.75;
}

.u-lineheight10 {
  line-height: 10px !important;
}
.u-lineheight15 {
  line-height: 15px !important;
}
.u-lineheight20 {
  line-height: 20px !important;
}
.u-lineheight25 {
  line-height: 25px !important;
}
.u-lineheight30 {
  line-height: 30px !important;
}

.u-clearfix {
  .clearfix();
}
.u-has-hidden-content {
  .u-show-on-hover {
    display: none;
  }
  &:hover {
    .u-show-on-hover {
      display: inline-block;
    }
    .u-hide-on-hover {
      display: none;
    }
  }
}
