/* --- badge --- */
.badge {
  display: inline-block;
  background-color: @greyLighter;
  color: #667;
  text-align: center;
  .rounded(5px);
  overflow: hidden;

  img {
    max-width: 100%;
  }
  &.badge-circle-small {
    width: 20px;
    height: 20px;
    .rounded(50%);
  }
  &.badge-circle {
    width: 40px;
    height: 40px;
    .rounded(50%);
  }
  &.badge-circle-large {
    width: 60px;
    height: 60px;
    .rounded(50%);
  }
  &.badge-circle-xlarge {
    width: 80px;
    height: 80px;
    .rounded(50%);
  }
  &.badge-user {
    img {
      display: block;
    }
  }
  &.badge-large {
    width: 80px;
    height: 80px;
    padding: 18px 10px;
  }
  &.badge-support {
    background-color: @greyLight;
    color: @white;
    z-index: 3;

    label {
      font-size: 0.75em;
    }
    .value {
      font-size: 1.5em;
      font-weight: bold;
    }
    &.badge-new-empty {
      background-color: @white;
      border: 1px solid @greyLight;
      color: @muhitBlue;
    }
    &.badge-new {
      background-color: @muhitBlue;
    }
    &.badge-in-progress {
      background-color: @purple;
    }
    &.badge-solved {
      background-color: @deepGreen;
    }
    &.isGrowing {
      -webkit-animation: isGrowing 0.3s ease-in-out;
      -moz-animation: isGrowing 0.3s ease-in-out;
      animation: isGrowing 0.3s ease-in-out;
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      transform-origin: center center;
    }
    &.isSlinking {
      -webkit-animation: isSlinking 0.3s ease-in-out;
      -moz-animation: isSlinking 0.3s ease-in-out;
      animation: isSlinking 0.3s ease-in-out;
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      transform-origin: center center;
    }
  }
  &.badge-image {
    width: 50px;
    height: 50px;
    background-color: @greyLighter;
    background-size: cover;

    img {
      max-height: 100%;
      max-width: 100%;
    }
    .ion {
      margin: 7px 0;
    }
    .ion-onbadge {
      @size: 40px;
      position: absolute;
      top: 50%; 
      left: 50%;
      z-index: 3;
      width: @size;
      height: @size;
      margin-left: -@size/2;
      margin-top: -@size/2;
      background-color: fade(@muhitBlueDark, 40%);
      text-align: center;
      line-height: @size;
      cursor: pointer;
      .rounded(@size/2);

      &:hover, &:focus {
        background-color: @muhitBlue;
      }
    }
  }
}



// label
.label {
  display: inline-block;
  padding: 10px 15px;
  .rounded(10px);
  background-color: @grey;
  font-size: 1.1em;
  line-height: 20px;
  font-weight: bold;
  color: @white;

  &.label-new-empty {
    background-color: @white;
    border: 1px solid @greyLight;
    color: @muhitBlue;
  }
  &.label-new {
    background-color: darken(@muhitBlue, 15%);
  }
  &.label-in-progress {
    background-color: darken(@purple, 15%);
  }
  &.label-solved {
    background-color: darken(@deepGreen, 15%);
  }
}

@-webkit-keyframes isGrowing {
    0% { -webkit-transform: scale(1); }
   50% { -webkit-transform: scale(1.25); }
  100% { -webkit-transform: scale(1); }
}
@-moz-keyframes isGrowing {
    0% { -moz-transform: scale(1); }
   50% { -moz-transform: scale(1.25); }
  100% { -moz-transform: scale(1); }
}
@keyframes isGrowing {
    0% { transform: scale(1); }
   50% { transform: scale(1.25); }
  100% { transform: scale(1); }
}

@-webkit-keyframes isSlinking {
    0% { -webkit-transform: scale(1); }
   50% { -webkit-transform: scale(0.85); }
  100% { -webkit-transform: scale(1); }
}
@-moz-keyframes isSlinking {
    0% { -moz-transform: scale(1); }
   50% { -moz-transform: scale(0.85); }
  100% { -moz-transform: scale(1); }
}
@keyframes isSlinking {
    0% { transform: scale(1); }
   50% { transform: scale(0.85); }
  100% { transform: scale(1); }
}