.chartloader {
  @size: 150px;
  width: @size;
  height: @size;
  margin: 0 auto;
  .rounded(@size/2);
  background-color: @greyLighter;
}
.chart-number {
  text-align: center;

  b {
    color: @muhitBlue;
    font-size: 1.25rem;
  }
}