/* --- flashmessage --- */
.flash {
  background-color: lighten(@muhitBlueDark, 7%);
  .rounded(5px);
  padding: 20px;
  color: @white;

  a {
    color: fade(@white, 60%);

    &:hover, &:focus {
      color: @white;
    }
  }

  &.flash-error {
    background-color: @red;
  }
  &.flash-success {
    background-color: @green;
  }
  &.flash-warning {
    background-color: @yellow;
  }
}
.flash-container {
  background-color: @muhitBlue;
}
.role-admin .flash-container {
  background-color: lighten(@muhitBlueDark, 10%);
}
.role-superadmin .flash-container {
  background-color: darken(@greyLight, 10%);
}
