/* --- forms --- */
.form-group {
  position: relative;
  width: 300px;
  min-width: 150px;
  margin-bottom: 10px;

  &.form-fullwidth {
    width: 100%;
  }
  &.hasDropdown .form-input {
    padding-right: 36px;
  }
  input[type="checkbox"] {
    position: absolute;
    left: -9999px;

    & + label:before {
      content: "\f372";
      display: inline-block;
      float: left;
      margin-right: 10px;
      font-family: "Ionicons";
      font-size: 1.5em;
    }
    &:checked + label:before {
      content: "\f374";
    }
  }

}
label {
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
  line-height: 20px;
}
label[for] {
  cursor: pointer;
}
input[type="text"],
input[type="password"],
textarea {
  display: block;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid transparent;
  background: fade(@white, 80%);
  .rounded(5px);
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  line-height: 40px;
  color: @muhitBlueMedium;

  &:hover {
    background: fade(@white, 90%);
  }
  &:focus {
    background: @white;
    .box-shadow(0 0 0 3px fade(@black, 10%));
    color: @muhitBlue;
    outline: none;
  }
}
.form-input.form-grey {
  background: fade(@greyLighter, 80%);

  &:hover {
    background: fade(@greyLighter, 90%);
  }
  &:focus {
    background: @greyLighter;
  }
}
textarea {
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1.5em;
}
.form-input {
  position: relative;
}
input.form-disabled {
  border-color: @greyLighter;
  color: @greyLight;
}
.form-appendRight {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  z-index: 2;
}
