/* --- header --- */
header {
  min-height: 250px;
  //height: 35vh;
  background: url('../images/banner_city.png') no-repeat;
  background-position: center bottom;
  background-size: contain;
  background-color: @muhitBlue;
  color: @white;
}