/* --- header --- */
header {
  min-height: 100px;
  // padding-top: calc(20px ~"+" 2vw);
  .bg-city-banner;
  background-color: @muhitBlue;
  color: @white;

  h1, h2, h3, h4 {
    font-weight: normal;
  }
  @media screen and (min-width: @screen-sm) {
   padding-top: calc(20px ~"+" 2vw);
  }
}
.role-admin header,
.role-municipality-admin header {
  background-color: lighten(@muhitBlueDark, 10%);
}
.role-superadmin header {
  background-color: darken(@greyLight, 10%);
}
