/* --- header --- */
header {
  min-height: 200px;
  //height: 35vh;
  padding-top: calc(20px ~"+" 3.5vw);
  padding-bottom: calc(20px ~"+" 3.5vw);
  background: url('../images/banner_city.png') no-repeat;
  background-position: center bottom;
  background-size: contain;
  color: @white;
}