/* --- list --- */
.list {
  .rounded(5px);
  overflow: hidden;
}
.list-header {
  padding: 15px;
  background-color: @white;
  border-bottom: 1px solid @greyLighter;
}
.list ul {
  list-style: none;
}
.list a {
  .clearfix;
  display: block;
  padding: 15px;
  line-height: 1.2em;
  background-color: @white;

  &:hover, &:focus {
    background-color: @greyLightest;

    .badge {
      opacity: 1;
    }
  }
  .badge {
    opacity: 0.75;
  }
  p {
    color: @grey;
    margin-bottom: 0;
    line-height: 1em;

    &.title {
      color: @muhitBlue;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .tag {
    font-size: 0.8em;
    padding: 2px 6px;
  }
}
.list li + li {
  border-top: 1px solid @greyLighter;
}
@media screen and (max-width: @screen-xs) {
  .list {
    strong {
      font-size: 0.9em;
    }
    p {
      font-size: 0.75em;
    }
    .tag {
      .tag-collapsed;
      font-size: 0;
      color: transparent;
    }
  }
}

