.pagination {
  .clearfix;
  display: inline-block;
  
  li {
    display: inline-block;
    float: left;

    & + li {
      border-left: 1px solid @greyLighter;
    }
    &:first-child {
      a, span {
        .border-radius(0, 0, 5px, 5px);
      }
    }
    &:last-child {
      a, span {
        .border-radius(5px, 5px, 0, 0);
      }
    }
    a, span {
      .btn;
      .btn.btn-white;
      display: block;
      .rounded(0);
      border: 0;
    }
    span {
      cursor: default;
    }
    &.disabled {
      a, span {
        color: @greyLight;
        background-color: lighten(@greyLighter, 2%);
      }
    }
    &.active {
      a, span {
        background-color: @muhitBlue;
        color: @white;
      }
    }
  }
}